@font-face {
	font-family :'BebasNeue' ; src: url('BebasNeue-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

@font-face {
	font-family :'Poppins-bold' ; src: url('Poppins-SemiBold.ttf');
}
@font-face {
	font-family :'Poppins-Medium' ; src: url('Poppins-Medium.ttf');
}
@font-face {
	font-family :'exo2' ; src: url('Exo2-Regular.ttf');
}
@font-face {
	font-family :'DriftWood' ; src: url('California.ttf');
}
body, html, h1 {

	padding: 0; margin: 0; font-family: 'Poppins', sans-serif;
}
body {
	background-color : rgb(245, 245, 245);
	width:100%; max-width:1540px; margin-left:auto; margin-right: auto;
	
	
}


/*style de header*/
header {

	display : flex ; justify-content: space-between ; position : sticky ; top : 0; height : 90px ;
	/*width : 100%;*/ 
	padding: 20px; background-color : rgb(245, 245, 245);
	/*box-shadow : 0px 0px 6px black ;*/
	z-index: 1;
	/*border-bottom : 1px solid rgb(125, 125, 125);
	/*border-right :1px solid rgb(125, 125, 125) ;*/
}
header section h1{
	position : absolute ; top: 5px; left : 100px ; font-family : DriftWood; font-size : 55px; color :  #912fff ;
}
nav {

	margin : 0; padding: 0; font-family : "Poppins-Medium", sans-serif; position : relative ; top :-25px ;
	right : 100px ; font-size: 15px;
	
}
nav ul {
	list-style-type: none ; display : flex; justify-content : space-around;
}
nav ul li {
	
	padding: 5px; padding-top:25px; padding-left : 40px;
}
nav a {
	color : black; text-decoration: none ; transition : color 1.2s; 
}
nav a:hover {
	color :  #912fff ;
}

#lien{
	color :  #912fff ;	
}
nav #menu {
	display : none; width: 45px; height : 50px;
	cursor:pointer;
}
.bar1, .bar2, .bar3 {
	width:45px; height:5px; background:black; margin:6px 0;
	transition:0.4s;
}
.change .bar1 {
	transform:translate(0, 11px) rotate(-45deg);
}
.change .bar2 { opacity:0;}

.change .bar3 {
	transform:translate(0, -11px) rotate(45deg);
}
/*style de article#home */
article#home {
	display : flex ; justify-content: space-around; margin: 0; padding : 0; background: url('images/fond.jpg'); background-size: cover;
	align-items: center; width : 100%; height: 700px; padding : 30px;
}
article {z-index: -1;}
article#home section {
	display : flex; width : 60%; padding : 20px; 
}
article#home section img {
	opacity: 0.95;
}
p#name{
	padding: 0px; margin: 0px; font-family: Poppins, sans-serif; font-size : 50px ;
}
p#student {
	font-family : "exo2"; font-weight : bold; font-size : 25px;
}
p#begin {
	font-family : "exo2"; font-size : 25px;
}
a {
	color: black; text-decoration: none;

}
p#contact{
	margin-top : 40px; font-weight: normal;
}
p#contact a {
	
	padding : 15px ; background-color : rgba(145, 47, 255, 0.6); text-align: center ; 
	border-radius: 10px; font-weight: bold; color : black ; text-decoration : none;
	transition : font-size 2s; 
}
p#contact a:hover{
	font-size : 20px;
}

a#home{
	color:#912fff ;;
}
article#home aside {

	margin-left: 0px ; margin-right: 0px; margin-top : 40px; display : flex ; flex-direction : column ;
	align-items: center ;
	
}
article#home section aside {
	display : none ;
}
article#home aside a {
	font-size : 30px ; margin : 10px ; color :  #912fff; transition : font-size 2s;
}
article#home aside a:hover{
	font-size : 40px;
}
/*style de article#about*/
article#about {
	font-family : "Poppins", sans-serif; height: 700px;
}
article#about h1 {
	font-family: 'Poppins', sans-serif; text-align: center; font-size : 45px; color : #912fff;
}
div#insideAbout {
	position:relative; top:100px;
	display:flex; flex-direction:row; justify-content: space-around;
	align-items:center;
}
article#about div#insideAbout img{
	/*position : relative; top :60px; left :12.5% ;*/ border-radius: 24px; display:block;
}
button {
	/*position: relative; top : -250px; left : 800px;*/
	width: 200px; height: 75px;
	font-family : "Poppins-bold"; font-size: 20px; border : 0px solid;
	border-radius: 12px; background-color: #912fff; color : white;
}
p#description {
	/*position: relative; top : -350px; left : 800px;*/ font-family : "exo2"; color: grey; font-size: 20px; width : 500px;
	
}
div#information {
	/*position: relative; top : -350px; left : 750px;*/
	display: flex ; justify-content: space-around; width: 500px;
}
div#information p {

	font-family : "exo2"; color: grey; font-size: 20px; text-align: center;
}
div#information p span {

	/*position: absolute;
	top : 134%;
	left : 50%;*/
	
	font-family: "Poppins-bold", sans-serif; font-size: 30px; color : black;
}


/*Style de article skills*/
article#skills {
	height: 700px;
}
article#skills h1{
	text-align: center; font-size : 45px; color : #912fff;
	
}
section.skills {
	position : relative ; top : 20px; 
	width: 100%; display : flex; flex-wrap :wrap; font-family : "Poppins-Medium", sans-serif;
	justify-content:center;
	align-items: center;border:0px solid red;
}
section.skills button {
	display: block; width:80%; display : flex; justify-content: space-around;
	background-color:rgb(245, 245, 245) ; color : black; border: 0px solid ;
	
}
.skillCat {
	margin : 20px; width: 45%;
	/*border : 1px solid ;*/
}

.dropdown-btn-1 {
	position: relative; top : 0px; left : 0px; border:1px solid; border-radius:10px;
}
.dropdown-btn-1 span{
	position: relative; top : 15px;
}
.dropdown-btn-1 i{
	position: relative; top : 20px;
}
.dropdown-btn-2 {
	position: relative; top : 0px; left : 0px;
}
.dropdown-btn-2 span{
	position: relative; top : 15px;
}
.dropdown-btn-2 i{
	position: relative; top : 20px;
}
.dropdown-btn-3 {
	position: relative ; top: -0px ; left:0px;
}
.dropdown-btn-3 span{
	position: relative; top : 15px;
}
.dropdown-btn-3 i{
	position: relative; top : 20px;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
	width: 80%; /* Full width */
	border: 0px solid; background-color: grey; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
}
.paragraphe {display: flex; justify-content: space-between ; width:80% ;}

.html {width: 90%; background-color: #912fff; height : 1px; animation:animHTML 2s ;} /* Green */
.css {width: 80%; background-color: #912fff; height : 1px;animation: animCSS 2s;} /* Blue */
.js {width: 65%; background-color: #912fff; height : 1px; animation: animJS 2s;} /* Red */
.php {width: 60%; background-color: #912fff; height : 1px; animation: animphp 2s;} /* Dark Grey */
.bash {width: 50%; background-color: #912fff; height : 1px; animation: animBash 2s;}
.cpp {width: 50%; background-color: #912fff; height : 1px; animation: animCpp 2s;}
.sql {width: 75%; background-color: #912fff; height : 1px; animation : animSql 2s;}

.front{ display: flex ; flex-direction: column; }

.backend {display : flex; flex-direction : column; }
.autre { display : flex; flex-direction : column;  }

@keyframes animHTML { from {width : 0%;} to {width : 90%;} }
@keyframes animCSS { from {width: 0%;} to {width: 80%;} }
@keyframes animJS{ from {width : 0%;} to {width : 65%;} }
@keyframes animBash { from {width : 0%;} to {width : 50%;} }
@keyframes animCpp { from {width : 0%;} to {width : 50%;} }
@keyframes animphp { from {width : 0%;} to {width : 60%;} }
@keyframes animSql { from {width : 0%;}	to {width : 75%;} }

/*Style de Portfolio*/
article#portfolio {
	height: 700px;
	font-family : "Poppins-Medium", sans-serif;
}
article#portfolio h1 {
	text-align: center; font-size : 45px; color : #912fff;	
}
#projets {
	display: flex; flex-direction:row; gap:20px;
	justify-content: center;  margin: auto; margin-top:100px;
	/*border:1px solid;*/ width:85%; overflow: hidden; 
}
.projet {
	/*width:calc(100%/4);*/
	display: flex; flex-direction:column;
}
.projet span {
	text-align: center; 
}
.projet a {
	transition:color 0.4s;
}
.projet a:hover {
	color:#912fff;
}
.prev, .next {
	position:relative; bottom:250px;
	background-color: grey;
	padding:10px; /*border-radius:50%;*/
	left:5%;
	transition:background 1s;
}
.next {
	left:90%;
}
.prev:hover, .next:hover {
	background: rgb(192, 192, 192);
}
/*style de contacts*/
article#contact {
	height: 700px;
	font-family : "Poppins-Medium", sans-serif;
}
article#contact h1 {
	text-align: center; font-size : 45px; color : #912fff;
}
section.contact {
	position: relative ; top : 70px; margin-left: auto; margin-right: auto; width : 80%;
	display: flex ; justify-content : space-around;
}
section.contact aside {
	position: relative; left : 0px;
}

/*Formulaire*/

div#nameAndEmail {
	display : flex; height : 40px ; justify-content: space-between;
}
#name, #email {
	width : 200px; height : 70px; font-family : Poppins , sans-serif; font-size : 17px; border : 0px solid;
	border-radius : 10px ;  color : rgb(0, 0, 0); margin: 20px; background-color : rgba(225, 225, 225, 0.3) ;
}
#subject, #message {
	width : 480px;
}
#subject {
	position: relative; top : 40px; height : 70px;
	font-family : Poppins , sans-serif; font-size : 17px; border : 0px solid; border-radius : 10px ;	
	color : rgb(0, 0, 0); background-color : rgba(225, 225, 225, 0.3); margin: 20px;
}
#message {
	position: relative; top: 20px;  height : 200px;
	font-family : Poppins , sans-serif; font-size : 17px;
	border : 0px solid; border-radius : 10px ;
	color : rgb(0, 0, 0); background-color : rgba(225, 225, 225, 0.3); margin: 20px;
	
}
#submit {
	position: relative; top: 40px; left : 20px;
	width: 200px; height: 60px;
	font-family : Poppins , sans-serif; font-size: 20px; border : 0px solid;
	border-radius : 10px ; color : white; background-color :#912fff ;
	
}


/*style de pied de page*/
footer {
	display : flex ;
	justify-content: space-around; background-color : #912fff ; height : 400px; 
	font-family : Poppins, sans-serif; color : white ; 
	
}
footer section {
	position: relative ; left : 120px ; margin-top : 40px;
	
}
footer section h1{
	font-family : DriftWood; font-size : 65px;
}
footer section p{
	font-family: Poppins-bold, sans-serif ;
	font-size: 15px ; text-align: center; margin: 0; padding : 0;
}
footer ul {
	list-style-type: none ; display: flex ; justify-content: space-around;
	font-family : "Poppins-bold" ; font-size : 20px; width : 350px; margin-top : 60px;
	
}
footer li {
	color : white;
}
footer aside {
	display: flex; justify-content: space-between;
	font-size : 20px; width: 160px; margin-top: 60px; margin-right : 80px;
}

@media screen and (max-width: 1250px){
	nav ul {
		width:200px;
		display : none ; position:relative;top:45px; background:#d8d8d8;
		border-radius:20px;padding:25px ; padding-left: 15px; padding-right:50px; text-align:center;
		flex-direction:column; 
	}
	nav #menu {
		display : block;
		position : absolute;
		top : 20px ;
		right : 10px;
	}
	/*Home*/
	article#home section{
		display:flex; flex-direction:column-reverse;
	}

	/*About Me*/
	article#about{
		height:800px;
	}
	div#insideAbout{
		display:flex; flex-direction:column; position:relative; top:0; 
	}
	div#insideAbout img{
		display:block;
	}
	div#insideAbout img{
		position : relative; top :0px; left :0px ; border-radius: 24px;
	}
	#download {
		position:relative; left:130px; right:auto;
	}
	
	/*Skills*/
	article#skills{
		height:1000px;
	}
	section.skills{
		flex-direction:column;
	}
	/*Contacts*/
	article#contact {
		height: 1000px;
		font-family : "Poppins-Medium", sans-serif;
	}
	section.contact {
		position: relative ; top : 70px; margin-left: auto; margin-right: auto; width : 80%;
		display: flex ; flex-direction : column ;
	}
	section.contact aside {
		display : flex; flex-direction: row; justify-content: space-around;
	}
	
	#name, #email {
		width : 220px; height : 70px; font-family : Poppins , sans-serif; font-size : 17px; border : 0px solid;
		border-radius : 10px ;  color : rgb(0, 0, 0); margin: 20px; background-color : rgba(225, 225, 225, 0.3) ;
	}
	form {
		margin-left : auto ; margin-right : auto;
	}
	#email {
		position : relative ; right : 5px;
	}
}